pandas
numpy
scikit-learn==1.9.0
dill
flask
# Uncomment the following lines to run full project
#Commented out just for deployment configurations
#imbalanced-learn
xgboost==1.7.6 #comment this out and use latest version
#xgboost
#shap
#matplotlib
#seaborn
#jupyter
-e .
