pandas
numpy
scikit-learn
xgboost==2.1.4
dill
flask
# Uncomment the following lines to run full project
#Commented out just for deployment configurations
#imbalanced-learn
#shap
#matplotlib
#seaborn
#jupyter
-e .
